/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;
.clip-triangle {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  width: 100%;
}

.clip-triangle-center {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 100%;
}
@keyframes rotate360 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animate-rotate360 {
  animation: rotate360 25s linear infinite; /* Adjust the duration as needed */
}
/* styles.css */

/* Personaliza la apariencia del banner */
.banner {
  background-color: #4651ec;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Estilos para la animación */
.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px); /* Ajusta la distancia de la traslación */
  }
  60% {
    transform: translateX(-15px); /* Ajusta la distancia de la traslación */
  }
}
